In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly as py
%matplotlib inline

In [2]:
match=pd.read_csv('matches.csv')

In [3]:
match

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
5,6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN
7,8,2017,Indore,2017-04-10,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
8,9,2017,Pune,2017-04-11,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN
9,10,2017,Mumbai,2017-04-12,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN
10,11,2017,Kolkata,2017-04-13,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,8,SP Narine,Eden Gardens,A Deshmukh,NJ Llong,NaN
11,12,2017,Bangalore,2017-04-14,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,KA Pollard,M Chinnaswamy Stadium,KN Ananthapadmanabhan,AK Chaudhary,NaN
12,13,2017,Rajkot,2017-04-14,Rising Pune Supergiant,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,7,AJ Tye,Saurashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
13,14,2017,Kolkata,2017-04-15,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Kolkata Knight Riders,17,0,RV Uthappa,Eden Gardens,AY Dandekar,NJ Llong,NaN
14,15,2017,Delhi,2017-04-15,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,0,Delhi Daredevils,51,0,CJ Anderson,Feroz Shah Kotla,YC Barde,Nitin Menon,NaN
15,16,2017,Mumbai,2017-04-16,Gujarat Lions,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,6,N Rana,Wankhede Stadium,A Nand Kishore,S Ravi,NaN
16,17,2017,Bangalore,2017-04-16,Rising Pune Supergiant,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Rising Pune Supergiant,27,0,BA Stokes,M Chinnaswamy Stadium,KN Ananthapadmanabhan,C Shamshuddin,NaN
17,18,2017,Delhi,2017-04-17,Delhi Daredevils,Kolkata Knight Riders,Delhi Daredevils,bat,normal,0,Kolkata Knight Riders,0,4,NM Coulter-Nile,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN
18,19,2017,Hyderabad,2017-04-17,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,5,0,B Kumar,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,A Deshmukh,NaN
19,20,2017,Rajkot,2017-04-18,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,normal,0,Royal Challengers Bangalore,21,0,CH Gayle,Saurashtra Cricket Association Stadium,S Ravi,VK Sharma,NaN
20,21,2017,Hyderabad,2017-04-19,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,15,0,KS Williamson,"Rajiv Gandhi International Stadium, Uppal",CB Gaffaney,NJ Llong,NaN
21,22,2017,Indore,2017-04-20,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,JC Buttler,Holkar Cricket Stadium,M Erasmus,C Shamshuddin,NaN
22,23,2017,Kolkata,2017-04-21,Kolkata Knight Riders,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,4,SK Raina,Eden Gardens,CB Gaffaney,Nitin Menon,NaN
23,24,2017,Mumbai,2017-04-22,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,14,0,MJ McClenaghan,Wankhede Stadium,A Nand Kishore,S Ravi,NaN
24,25,2017,Pune,2017-04-22,Sunrisers Hyderabad,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,6,MS Dhoni,Maharashtra Cricket Association Stadium,AY Dandekar,A Deshmukh,NaN
25,26,2017,Rajkot,2017-04-23,Kings XI Punjab,Gujarat Lions,Gujarat Lions,field,normal,0,Kings XI Punjab,26,0,HM Amla,Saurashtra Cricket Association Stadium,AK Chaudhary,M Erasmus,NaN
26,27,2017,Kolkata,2017-04-23,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,82,0,NM Coulter-Nile,Eden Gardens,CB Gaffaney,CK Nandan,NaN
27,28,2017,Mumbai,2017-04-24,Rising Pune Supergiant,Mumbai Indians,Mumbai Indians,field,normal,0,Rising Pune Supergiant,3,0,BA Stokes,Wankhede Stadium,A Nand Kishore,S Ravi,NaN
28,29,2017,Pune,2017-04-26,Rising Pune Supergiant,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,7,RV Uthappa,Maharashtra Cricket Association Stadium,AY Dandekar,NJ Llong,NaN
29,30,2017,Bangalore,2017-04-27,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,7,AJ Tye,M Chinnaswamy Stadium,AK Chaudhary,C Shamshuddin,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,607,2016,Rajkot,2016-05-03,Gujarat Lions,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,8,RR Pant,Saurashtra Cricket Association Stadium,CB Gaffaney,BNJ Oxenford,NaN
607,608,2016,Kolkata,2016-05-04,Kolkata Knight Riders,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kolkata Knight Riders,7,0,AD Russell,Eden Gardens,AK Chaudhary,HDPK Dharmasena,NaN
608,609,2016,Delhi,2016-05-05,Delhi Daredevils,Rising Pune Supergiants,Rising Pune Supergiants,field,normal,0,Rising Pune Supergiants,0,7,AM Rahane,Feroz Shah Kotla,C Shamshuddin,RJ Tucker,NaN
609,610,2016,Hyderabad,2016-05-06,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,5,B Kumar,"Rajiv Gandhi International Stadium, Uppal",M Erasmus,S Ravi,NaN
610,611,2016,Bangalore,2016-05-07,Rising Pune Supergiants,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,7,V Kohli,M Chinnaswamy Stadium,CB Gaffaney,BNJ Oxenford,NaN
611,612,2016,Chandigarh,2016-05-07,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0,Kings XI Punjab,9,0,MP Stoinis,"Punjab Cricket Association IS Bindra Stadium, ...",HDPK Dharmasena,CK Nandan,NaN
612,613,2016,Visakhapatnam,2016-05-08,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Sunrisers Hyderabad,85,0,A Nehra,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,S Ravi,C Shamshuddin,NaN
613,614,2016,Kolkata,2016-05-08,Kolkata Knight Riders,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,5,P Kumar,Eden Gardens,M Erasmus,RJ Tucker,NaN
614,615,2016,Chandigarh,2016-05-09,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,normal,0,Royal Challengers Bangalore,1,0,SR Watson,"Punjab Cricket Association IS Bindra Stadium, ...",AK Chaudhary,HDPK Dharmasena,NaN
615,616,2016,Visakhapatnam,2016-05-10,Sunrisers Hyderabad,Rising Pune Supergiants,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,4,0,A Zampa,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,CB Gaffaney,VK Sharma,NaN
616,617,2016,Bangalore,2016-05-11,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,6,KH Pandya,M Chinnaswamy Stadium,AY Dandekar,C Shamshuddin,NaN
617,618,2016,Hyderabad,2016-05-12,Sunrisers Hyderabad,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,7,CH Morris,"Rajiv Gandhi International Stadium, Uppal",K Bharatan,M Erasmus,NaN
618,619,2016,Visakhapatnam,2016-05-13,Mumbai Indians,Kings XI Punjab,Mumbai Indians,bat,normal,0,Kings XI Punjab,0,7,MP Stoinis,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,HDPK Dharmasena,CK Nandan,NaN
619,620,2016,Bangalore,2016-05-14,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,normal,0,Royal Challengers Bangalore,144,0,AB de Villiers,M Chinnaswamy Stadium,AY Dandekar,VK Sharma,NaN
620,621,2016,Kolkata,2016-05-14,Rising Pune Supergiants,Kolkata Knight Riders,Rising Pune Supergiants,bat,normal,1,Kolkata Knight Riders,0,8,YK Pathan,Eden Gardens,A Nand Kishore,BNJ Oxenford,NaN
621,622,2016,Chandigarh,2016-05-15,Kings XI Punjab,Sunrisers Hyderabad,Kings XI Punjab,bat,normal,0,Sunrisers Hyderabad,0,7,HM Amla,"Punjab Cricket Association IS Bindra Stadium, ...",KN Ananthapadmanabhan,M Erasmus,NaN
622,623,2016,Visakhapatnam,2016-05-15,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,80,0,KH Pandya,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Nitin Menon,CK Nandan,NaN
623,624,2016,Kolkata,2016-05-16,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,9,V Kohli,Eden Gardens,CB Gaffaney,A Nand Kishore,NaN
624,625,2016,Visakhapatnam,2016-05-17,Delhi Daredevils,Rising Pune Supergiants,Rising Pune Supergiants,field,normal,1,Rising Pune Supergiants,19,0,AB Dinda,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Nitin Menon,C Shamshuddin,NaN
625,626,2016,Bangalore,2016-05-18,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,normal,1,Royal Challengers Bangalore,82,0,V Kohli,M Chinnaswamy Stadium,KN Ananthapadmanabhan,M Erasmus,NaN
626,627,2016,Kanpur,2016-05-19,Kolkata Knight Riders,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,6,DR Smith,Green Park,AK Chaudhary,CK Nandan,NaN
627,628,2016,Raipur,2016-05-20,Sunrisers Hyderabad,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,6,KK Nair,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
628,629,2016,Visakhapatnam,2016-05-21,Kings XI Punjab,Rising Pune Supergiants,Kings XI Punjab,bat,normal,0,Rising Pune Supergiants,0,4,MS Dhoni,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,HDPK Dharmasena,Nitin Menon,NaN
629,630,2016,Kanpur,2016-05-21,Mumbai Indians,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,6,SK Raina,Green Park,AK Chaudhary,CK Nandan,NaN
630,631,2016,Kolkata,2016-05-22,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Kolkata Knight Riders,22,0,YK Pathan,Eden Gardens,KN Ananthapadmanabhan,M Erasmus,NaN
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [4]:
delivery=pd.read_csv('deliveries.csv')
newdelivery=match.merge(delivery,left_on='id', right_on='match_id')
newdelivery

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN
10,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
11,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
12,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
13,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
14,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
15,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
16,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
17,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN
18,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
19,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
20,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
21,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
22,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
23,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
24,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
25,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
26,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
27,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
28,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
29,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150430,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150431,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150432,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,KL Rahul,bowled,NaN
150433,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150434,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150435,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150436,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150437,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150438,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,SR Watson,caught,MC Henriques
150439,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150440,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150441,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150442,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150443,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150444,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150445,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150446,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150447,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
150448,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,STR Binny,run out,DJ Hooda
150449,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150450,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150451,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150452,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150453,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150454,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150455,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [5]:
newdelivery.shape

(150460, 39)

In [6]:
newdelivery.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3', 'match_id', 'inning', 'batting_team', 'bowling_team', 'over',
       'ball', 'batsman', 'non_striker', 'bowler', 'is_super_over',
       'wide_runs', 'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [7]:
delivery = delivery.rename(columns = {"match_id" : "id"})

In [8]:
delivery[['id','batsman','over','ball','batsman_runs']]

         id        batsman  over  ball  batsman_runs
0         1      DA Warner     1     1             0
1         1      DA Warner     1     2             0
2         1      DA Warner     1     3             4
3         1      DA Warner     1     4             0
4         1      DA Warner     1     5             0
5         1       S Dhawan     1     6             0
6         1       S Dhawan     1     7             0
7         1       S Dhawan     2     1             1
8         1      DA Warner     2     2             4
9         1      DA Warner     2     3             0
10        1      DA Warner     2     4             6
11        1      DA Warner     2     5             0
12        1   MC Henriques     2     6             0
13        1   MC Henriques     2     7             4
14        1       S Dhawan     3     1             1
15        1   MC Henriques     3     2             0
16        1   MC Henriques     3     3             0
17        1   MC Henriques     3     4             3
18        1       S Dhawan     3     5             1
19        1   MC Henriques     3     6             1
20        1   MC Henriques     4     1             0
21        1   MC Henriques     4     2             1
22        1       S Dhawan     4     3             0
23        1       S Dhawan     4     4             1
24        1   MC Henriques     4     5             1
25        1       S Dhawan     4     6             1
26        1       S Dhawan     5     1             1
27        1   MC Henriques     5     2             1
28        1       S Dhawan     5     3             1
29        1   MC Henriques     5     4             2
...     ...            ...   ...   ...           ...
150430  636       KL Rahul    16     1             1
150431  636      SR Watson    16     2             1
150432  636       KL Rahul    16     3             0
150433  636    Sachin Baby    16     4             0
150434  636    Sachin Baby    16     5             1
150435  636      SR Watson    16     6             1
150436  636      SR Watson    17     1             0
150437  636      SR Watson    17     2             2
150438  636      SR Watson    17     3             0
150439  636    Sachin Baby    17     4             1
150440  636      STR Binny    17     5             6
150441  636      STR Binny    17     6             1
150442  636      STR Binny    18     1             0
150443  636      STR Binny    18     2             1
150444  636    Sachin Baby    18     3             1
150445  636      STR Binny    18     4             0
150446  636      STR Binny    18     5             0
150447  636    Sachin Baby    18     6             4
150448  636      STR Binny    19     1             1
150449  636      CJ Jordan    19     2             2
150450  636      CJ Jordan    19     3             0
150451  636      CJ Jordan    19     4             0
150452  636    Sachin Baby    19     5             2
150453  636    Sachin Baby    19     6             6
150454  636      CJ Jordan    20     1             1
150455  636    Sachin Baby    20     2             2
150456  636    Sachin Baby    20     3             0
150457  636  Iqbal Abdulla    20     4             0
150458  636    Sachin Baby    20     5             1
150459  636  Iqbal Abdulla    20     6             4

[150460 rows x 5 columns]

In [9]:
match[['id','season']]

      id  season
0      1    2017
1      2    2017
2      3    2017
3      4    2017
4      5    2017
5      6    2017
6      7    2017
7      8    2017
8      9    2017
9     10    2017
10    11    2017
11    12    2017
12    13    2017
13    14    2017
14    15    2017
15    16    2017
16    17    2017
17    18    2017
18    19    2017
19    20    2017
20    21    2017
21    22    2017
22    23    2017
23    24    2017
24    25    2017
25    26    2017
26    27    2017
27    28    2017
28    29    2017
29    30    2017
..   ...     ...
606  607    2016
607  608    2016
608  609    2016
609  610    2016
610  611    2016
611  612    2016
612  613    2016
613  614    2016
614  615    2016
615  616    2016
616  617    2016
617  618    2016
618  619    2016
619  620    2016
620  621    2016
621  622    2016
622  623    2016
623  624    2016
624  625    2016
625  626    2016
626  627    2016
627  628    2016
628  629    2016
629  630    2016
630  631    2016
631  632    2016
632  633    2016
633  634    2016
634  635    2016
635  636    2016

[636 rows x 2 columns]

In [10]:
mergedbats=pd.merge(delivery[['id','batsman','over','ball','batsman_runs']],match[['id','season']],on='id')

In [11]:
mergedbats=mergedbats.groupby(['batsman','season']).sum()
mergedbats

                           id  over  ball  batsman_runs
batsman        season
A Ashish Reddy 2012     10760   526   100            35
               2013     36512  1509   331           125
               2015     25247   791   170            73
               2016     17505   486   119            47
A Chandila     2012       373    20     6             0
               2013      2442   112    17             4
A Chopra       2008      5182   301   202            42
               2009      2420   166    71            11
A Choudhary    2017       614   371    71            25
A Flintoff     2009      6908   670   203            62
A Kumble       2008      1597   309    66            13
               2009      2763   363    82            16
               2010      2657   238    44             6
A Mishra       2008      4080   565   132            37
               2009      2986   384    70            26
               2010     11600   873   203            39
               2011     13806   984   211            68
               2012      7101   393    80            16
               2013     42267  1304   386            89
               2014      3304   134    27             4
               2015      6961   231    57             8
               2016      8317   213    43             4
               2017      1943   898   203            49
A Mithun       2010       836    77    12             5
               2011      5894   295    75            27
               2013       882    38     7             2
A Mukund       2008       110    20     7             0
               2013      9240   109    86            19
A Nehra        2008       930   253    54             3
               2009       161    20     6             1
...                       ...   ...   ...           ...
YK Pathan      2013    104720  2809   898           332
               2014     83560  2211   597           268
               2015    133793  3201   860           312
               2016    157225  3290   958           361
               2017      3182  1453   470           143
YS Chahal      2014       976    40     9             1
               2015       525    20     4             1
               2017       620   482    96            13
YV Takawale    2008      6146   485   273            70
               2009      3520    70    76            18
               2014     45196   462   346           104
Yashpal Singh  2009      9918   578   250            47
Younis Khan    2008       679    21    25             3
Yuvraj Singh   2008     16281  2337   711           299
               2009     45926  3338  1167           340
               2010     42257  2570   789           259
               2011     72045  3589   985           343
               2013     80932  2310   745           238
               2014    139863  3632  1065           376
               2015    117048  2600   793           248
               2016    114335  2487   645           236
               2017      5747  2669   699           252
Z Khan         2008      3253   728   164            34
               2009      1398   217    40             8
               2010      2609   256    47            24
               2011      7182   359    94            21
               2012      5802   312    62            12
               2014      3288   136    24             8
               2016      7694   231    46             6
               2017       544   184    48             4

[1531 rows x 4 columns]

In [12]:
mergedbowl=pd.merge(delivery[['id','bowler','over','ball','player_dismissed']],match[['id','season']],on='id')
mergedbowl = mergedbowl.groupby(['bowler', 'season']).count()
mergedbowl

                        id  over  ball  player_dismissed
bowler         season
A Ashish Reddy 2012    169   169   169                11
               2013     41    41    41                 3
               2015     37    37    37                 4
               2016     23    23    23                 1
A Chandila     2012     84    84    84                 5
               2013    150   150   150                 6
A Choudhary    2017    108   108   108                 5
A Flintoff     2009     66    66    66                 2
A Kumble       2008    236   236   236                 8
               2009    358   358   358                22
               2010    389   389   389                19
A Mishra       2008    123   123   123                11
               2009    262   262   262                14
               2010    329   329   329                20
               2011    324   324   324                19
               2012    289   289   289                13
               2013    376   376   376                24
               2014    230   230   230                 8
               2015    249   249   249                 9
               2016    284   284   284                14
               2017    237   237   237                10
A Mithun       2009     27    27    27                 0
               2010     20    20    20                 1
               2011    221   221   221                 6
               2012     19    19    19                 0
               2013     25    25    25                 1
A Nehra        2008    280   280   280                14
               2009    326   326   326                22
               2010     85    85    85                 6
               2012    291   291   291                12
...                    ...   ...   ...               ...
YK Pathan      2012    137   137   137                 4
               2013     55    55    55                 1
               2014      6     6     6                 0
               2015     60    60    60                 2
               2016     38    38    38                 1
               2017     24    24    24                 1
YS Chahal      2013     24    24    24                 0
               2014    333   333   333                12
               2015    283   283   283                24
               2016    308   308   308                22
               2017    271   271   271                14
Yuvraj Singh   2008     56    56    56                 3
               2009    121   121   121                 6
               2010    139   139   139                 6
               2011    175   175   175                 9
               2013    133   133   133                 6
               2014    140   140   140                 6
               2015     55    55    55                 1
               2016     38    38    38                 0
               2017     12    12    12                 2
Z Khan         2008    258   258   258                15
               2009    132   132   132                 7
               2010    295   295   295                18
               2011    373   373   373                15
               2012    370   370   370                21
               2013     38    38    38                 5
               2014    138   138   138                 6
               2015    155   155   155                 8
               2016    271   271   271                12
               2017    246   246   246                12

[1142 rows x 4 columns]

Now, we will formulate the best batsmen and bowlers in the first 20 overs

# Top Batsmen in 20 overs

In [13]:
#runsum is the groupby of the batsman and batsman runs, in which the runs are summed
#ballplayed is the groupby of the batsman and batsman runs, in which the number of balls are counted
runsum = newdelivery.groupby('batsman')['batsman_runs'].sum().reset_index()
ballsplayed = newdelivery.groupby('batsman')['batsman_runs'].count().reset_index()

In [14]:
#merging the two dataframes above to a new dataframe called runsballs
runsballs = runsum.merge(ballsplayed, on ='batsman')
runsballs.rename(columns = {'batsman_runs_y':'balls_played', 'batsman_runs_x':'runs'}, inplace = True)

In [15]:
#calculating strike rates
runsballs['strike_rate']=(runsballs['runs']/runsballs['balls_played'])*100
runsballs

                  batsman  runs  balls_played  strike_rate
0          A Ashish Reddy   280           196   142.857143
1              A Chandila     4             7    57.142857
2                A Chopra    53            75    70.666667
3             A Choudhary    25            20   125.000000
4              A Flintoff    62            57   108.771930
5                A Kumble    35            49    71.428571
6                A Mishra   340           382    89.005236
7                A Mithun    34            26   130.769231
8                A Mukund    19            23    82.608696
9                 A Nehra    41            63    65.079365
10                A Singh     2            10    20.000000
11              A Symonds   974           781   124.711908
12               A Uniyal     4             7    57.142857
13                A Zampa     5             8    62.500000
14            AA Bilakhia    69            88    78.409091
15              AA Chavan    12            11   109.090909
16        AA Jhunjhunwala   217           218    99.541284
17              AA Noffke     9            12    75.000000
18             AB Agarkar   179           160   111.875000
19              AB Barath    42            43    97.674419
20               AB Dinda    26            50    52.000000
21            AB McDonald   123           103   119.417476
22         AB de Villiers  3486          2402   145.129059
23            AC Blizzard   120            91   131.868132
24           AC Gilchrist  2069          1555   133.054662
25              AC Thomas    20            19   105.263158
26               AC Voges   181           143   126.573427
27         AD Mascarenhas    79            79   100.000000
28             AD Mathews   724           599   120.868114
29                AD Nath    20            28    71.428571
..                    ...   ...           ...          ...
431               V Kohli  4423          3494   126.588437
432        V Pratap Singh     0             1     0.000000
433              V Sehwag  2728          1833   148.827059
434             V Shankar   101            77   131.168831
435                VH Zol    29            26   111.538462
436              VR Aaron    46            56    82.142857
437             VRV Singh     4             3   133.333333
438              VS Malik     7             7   100.000000
439           VS Yeligati     2             2   100.000000
440            VVS Laxman   282           271   104.059041
441             VY Mahesh    15            28    53.571429
442          Vishnu Vinod    19            26    73.076923
443              W Jaffer   130           129   100.775194
444               WA Mota    56            76    73.684211
445            WD Parnell    63            80    78.750000
446               WP Saha  1557          1219   127.727646
447            WPUJC Vaas    81            73   110.958904
448     Washington Sundar     9            12    75.000000
449  X Thalaivan Sargunam    10            17    58.823529
450      Y Gnaneswara Rao    19            18   105.555556
451               Y Nagar   285           271   105.166052
452       Y Venugopal Rao   985           865   113.872832
453            YA Abdulla     0             1     0.000000
454             YK Pathan  2922          2076   140.751445
455             YS Chahal    15            29    51.724138
456           YV Takawale   192           183   104.918033
457         Yashpal Singh    47            67    70.149254
458           Younis Khan     3             7    42.857143
459          Yuvraj Singh  2591          2050   126.390244
460                Z Khan   117           141    82.978723

[461 rows x 4 columns]

In [16]:
#Keeping only those players that have played over 200 balls
runsballs = runsballs[runsballs['balls_played']>=200]

In [17]:
#For Z Score, calculating Mean and Standard Deviation of the strike rate
meanrunsballs=runsballs['strike_rate'].mean()
stdrunsballs=runsballs['strike_rate'].std()
runsballs['Z Score']=(runsballs['strike_rate']-meanrunsballs)/stdrunsballs

C:\Users\Shantanu Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
runsballs.sort_values('strike_rate', ascending=False).head()

        batsman  runs  balls_played  strike_rate   Z Score
30   AD Russell   574           350   164.000000  3.030419
86    CH Morris   439           275   159.636364  2.716882
143  GJ Maxwell  1229           780   157.564103  2.567985
196   KH Pandya   480           313   153.354633  2.265525
433    V Sehwag  2728          1833   148.827059  1.940208

# Top Bowlers in 20 Overs

In [19]:
#Creating a copy of newdeliveries and storing it in a dataframe called bowlers
bowlers = newdelivery.copy()

In [20]:
#Separating the bowlers that have out the batsmen by choosing dismissal kinds
outtype = ['caught','bowled','lbw','stumped','caught and bowled','hit wicket']
outtotal = bowlers[bowlers['dismissal_kind'].isin(outtype)]

In [21]:
#Grouping the bowlers with the player dismissed and counting the numbers
outtotal = outtotal.groupby('bowler')['player_dismissed'].count().sort_values(ascending = False).reset_index()
outtotal.rename(columns = {'player_dismissed':'wasout'}, inplace = True)

In [22]:
#Calculating the runs provided by the bowlers
runsgiven=bowlers.groupby('bowler')['total_runs'].sum().reset_index()
runsgiven.rename(columns={'total_runs':'runs'}, inplace = True)

In [23]:
runsgiven

                bowler  runs
0       A Ashish Reddy   400
1           A Chandila   245
2          A Choudhary   144
3           A Flintoff   106
4             A Kumble  1089
5             A Mishra  3305
6             A Mithun   477
7              A Nehra  2537
8                A Nel    31
9              A Singh   639
10           A Symonds   694
11            A Uniyal    67
12             A Zampa   281
13           AA Chavan   339
14     AA Jhunjhunwala   130
15             AA Kazi    21
16           AA Noffke    41
17          AB Agarkar  1174
18            AB Dinda  2103
19         AB McDonald   263
20        AC Gilchrist     0
21           AC Thomas   416
22            AC Voges    76
23      AD Mascarenhas   365
24          AD Mathews  1095
25          AD Russell   917
26            AF Milne   185
27          AG Murtaza   322
28            AJ Finch    67
29              AJ Tye   146
..                 ...   ...
326         TG Southee   930
327           TL Suman   198
328         TM Dilshan   368
329            TM Head    81
330       TP Sudhindra   137
331           TS Mills   157
332       Tejas Baroka    33
333           UT Yadav  2802
334           Umar Gul   198
335            V Kohli   371
336     V Pratap Singh   300
337           V Sehwag   236
338          V Shankar    19
339           VR Aaron  1250
340          VRV Singh   549
341           VS Malik   268
342        VS Yeligati    61
343          VY Mahesh   511
344            WA Mota    98
345         WD Parnell   731
346         WPUJC Vaas   364
347  Washington Sundar   189
348   Y Gnaneswara Rao     7
349            Y Nagar   125
350    Y Venugopal Rao   338
351         YA Abdulla   311
352          YK Pathan  1421
353          YS Chahal  1600
354       Yuvraj Singh  1068
355             Z Khan  2860

[356 rows x 2 columns]

In [24]:
ballsthrown=bowlers.groupby('bowler')['total_runs'].count().reset_index()
ballsthrown.rename(columns={'total_runs':'ballsthrown'}, inplace = True)

In [25]:
#Now we will calculate the economy rate of the bowler
bowlerperf= outtotal.merge(runsgiven, on ='bowler')

In [26]:
bowlerperf=bowlerperf.merge(ballsthrown, on = 'bowler')
bowlerperf.head()

            bowler  wasout  runs  ballsthrown
0       SL Malinga     154  3034         2694
1         A Mishra     134  3305         2703
2  Harbhajan Singh     127  3453         2989
3        PP Chawla     126  3315         2594
4         DJ Bravo     122  2815         2110

In [27]:
bowlerperf['economyrate']=100-(bowlerperf['runs']/(bowlerperf['ballsthrown']/6))
bowlerperf=bowlerperf[bowlerperf['ballsthrown']>=200]

In [28]:
bowlerperf.head()

            bowler  wasout  runs  ballsthrown  economyrate
0       SL Malinga     154  3034         2694    93.242762
1         A Mishra     134  3305         2703    92.663707
2  Harbhajan Singh     127  3453         2989    93.068585
3        PP Chawla     126  3315         2594    92.332305
4         DJ Bravo     122  2815         2110    91.995261

In [29]:
avgbowlerperf=bowlerperf['economyrate'].mean()

In [30]:
stdbowlerperf=bowlerperf['economyrate'].std()
bowlerperf['Z Score']=(bowlerperf['economyrate']-avgbowlerperf)/stdbowlerperf

In [31]:
bowlerperf.sort_values('economyrate', ascending = False)

                bowler  wasout  runs  ballsthrown  economyrate   Z Score
90       Sohail Tanvir      22   275          265    93.773585  2.391285
143         A Chandila      11   245          234    93.717949  2.309710
10           SP Narine      95  2085         1956    93.604294  2.143068
9             R Ashwin     100  2552         2359    93.509114  2.003512
142         SM Pollock      11   307          280    93.421429  1.874946
11            DW Steyn      92  2375         2159    93.399722  1.843119
45            A Kumble      45  1089          983    93.353001  1.774616
128         GD McGrath      12   366          329    93.325228  1.733895
31      M Muralitharan      64  1765         1581    93.301708  1.699409
107        Rashid Khan      17   368          328    93.268293  1.650415
0           SL Malinga     154  3034         2694    93.242762  1.612981
92    RE van der Merwe      21   515          455    93.208791  1.563173
72          DL Vettori      28   894          785    93.166879  1.501720
115          R Rampaul      16   319          278    93.115108  1.425812
81             J Botha      25   818          709    93.077574  1.370780
2      Harbhajan Singh     127  3453         2989    93.068585  1.357599
57            S Nadeem      37  1332         1137    92.970976  1.214484
111  Mustafizur Rahman      17   461          393    92.961832  1.201076
5              B Kumar     111  2410         2054    92.960078  1.198504
52            R Sharma      40  1100          935    92.941176  1.170791
114          KH Pandya      16   518          440    92.936364  1.163734
96      AD Mascarenhas      19   365          310    92.935484  1.162444
75           DP Nannes      28   815          689    92.902758  1.114460
63            MA Starc      34   725          612    92.892157  1.098917
48     Shakib Al Hasan      43  1123          947    92.884900  1.088277
85           JP Duminy      23   811          683    92.875549  1.074566
51       Iqbal Abdulla      40  1125          943    92.841994  1.025367
58        DE Bollinger      37   716          600    92.840000  1.022444
135          BA Stokes      12   327          274    92.839416  1.021588
160         AG Murtaza       9   322          269    92.817844  0.989958
..                 ...     ...   ...          ...          ...       ...
139           AN Ahmed      12   515          362    91.464088 -0.994945
93           VY Mahesh      21   511          359    91.459610 -1.001512
56             MS Gony      37  1317          925    91.457297 -1.004903
70          AB Agarkar      29  1174          820    91.409756 -1.074609
32         JP Faulkner      61  1849         1287    91.379953 -1.118306
66         NLTC Perera      31  1031          715    91.348252 -1.164787
146         GJ Maxwell      11   483          334    91.323353 -1.201294
205          S Kaushik       6   304          210    91.314286 -1.214589
147          DJG Sammy      11   354          244    91.295082 -1.242746
121      SJ Srivastava      14   444          306    91.294118 -1.244160
100     Mohammed Shami      18   960          659    91.259484 -1.294940
151          J Suchith      10   369          253    91.249012 -1.310295
106      Anureet Singh      17   594          406    91.221675 -1.350377
155          HH Pandya      10   552          375    91.168000 -1.429076
131          VRV Singh      12   549          371    91.121294 -1.497558
80            DR Smith      26   825          557    91.113106 -1.509563
103     A Ashish Reddy      18   400          270    91.111111 -1.512488
167           JDP Oram       9   362          244    91.098361 -1.531183
175        KC Cariappa       8   315          211    91.042654 -1.612861
129          R McLaren      12   558          372    91.000000 -1.675401
179          DJ Hussey       8   485          323    90.990712 -1.689019
157         MP Stoinis      10   314          209    90.985646 -1.696447
133    Karanveer Singh      12   323          213    90.901408 -1.819958
145       Pankaj Singh      11   472          311    90.893891 -1.830981
199    Y Venugopal Rao       6   338          222    90.864865 -1.873539
122           JR Hopes      14   562          369    90.861789 -1.878049
187           A Mithun       7   477          312    90.826923 -1.929170
150       Basil Thampi      11   428          278    90.762590 -2.023497
130    Joginder Sharma      12   421          272    90.713235 -2.095861
176        CJ Anderson       8   408          259    90.548263 -2.337748

[174 rows x 6 columns]

In [32]:
bowlerperf

              bowler  wasout  runs  ballsthrown  economyrate   Z Score
0         SL Malinga     154  3034         2694    93.242762  1.612981
1           A Mishra     134  3305         2703    92.663707  0.763959
2    Harbhajan Singh     127  3453         2989    93.068585  1.357599
3          PP Chawla     126  3315         2594    92.332305  0.278052
4           DJ Bravo     122  2815         2110    91.995261 -0.216130
5            B Kumar     111  2410         2054    92.960078  1.198504
6            A Nehra     106  2537         1974    92.288754  0.214195
7      R Vinay Kumar     103  2976         2161    91.737159 -0.594564
8             Z Khan     102  2860         2276    92.460457  0.465950
9           R Ashwin     100  2552         2359    93.509114  2.003512
10         SP Narine      95  2085         1956    93.604294  2.143068
11          DW Steyn      92  2375         2159    93.399722  1.843119
12          UT Yadav      91  2802         2033    91.730448 -0.604404
13          RP Singh      90  2417         1874    92.261473  0.174196
14           P Kumar      90  3342         2637    92.395904  0.371302
15           PP Ojha      89  2399         1945    92.599486  0.669797
16         SR Watson      86  2490         1961    92.381438  0.350091
17         JA Morkel      85  2409         1807    92.001107 -0.207558
18         MM Sharma      83  2088         1566    92.000000 -0.209181
19         RA Jadeja      82  2540         1962    92.232416  0.131592
20         IK Pathan      80  2711         2113    92.301940  0.233530
21          M Morkel      77  2136         1699    92.456739  0.460499
22          L Balaji      76  2083         1574    92.059720 -0.121618
23       DS Kulkarni      76  1918         1485    92.250505  0.158114
24          MM Patel      74  1733         1382    92.476122  0.488918
25    Sandeep Sharma      71  1623         1273    92.350353  0.304514
26          R Bhatia      71  2059         1661    92.562312  0.615292
27         YS Chahal      70  1600         1219    92.124692 -0.026355
28          AB Dinda      69  2103         1589    92.059157 -0.122444
29        SK Trivedi      65  1944         1557    92.508671  0.536642
..               ...     ...   ...          ...          ...       ...
148        RS Bopara      11   301          213    91.521127 -0.911315
150     Basil Thampi      11   428          278    90.762590 -2.023497
151        J Suchith      10   369          253    91.249012 -1.310295
152       SC Ganguly      10   370          280    92.071429 -0.104451
153   V Pratap Singh      10   300          211    91.469194 -0.987459
155        HH Pandya      10   552          375    91.168000 -1.429076
157       MP Stoinis      10   314          209    90.985646 -1.696447
158       MN Samuels       9   285          219    92.191781  0.072012
160       AG Murtaza       9   322          269    92.817844  0.989958
163         AM Nayar       9   323          239    91.891213 -0.368686
166       KP Appanna       9   291          222    92.135135 -0.011043
167         JDP Oram       9   362          244    91.098361 -1.531183
171       BAW Mendis       8   306          248    92.596774  0.665821
173         JD Ryder       8   314          241    92.182573  0.058510
175      KC Cariappa       8   315          211    91.042654 -1.612861
176      CJ Anderson       8   408          259    90.548263 -2.337748
179        DJ Hussey       8   485          323    90.990712 -1.689019
180        SB Styris       8   278          222    92.486486  0.504115
181        AA Chavan       8   339          255    92.023529 -0.174682
186          M Ntini       7   257          213    92.760563  0.905972
187         A Mithun       7   477          312    90.826923 -1.929170
193         DJ Hooda       6   270          201    91.940299 -0.296717
195          S Tyagi       6   304          220    91.709091 -0.635718
198         VS Malik       6   268          212    92.415094  0.399439
199  Y Venugopal Rao       6   338          222    90.864865 -1.873539
205        S Kaushik       6   304          210    91.314286 -1.214589
210       TM Dilshan       5   368          275    91.970909 -0.251835
222        JO Holder       5   313          228    91.763158 -0.556444
225          V Kohli       4   371          264    91.568182 -0.842322
231    Parvez Rasool       4   273          200    91.810000 -0.487763

[174 rows x 6 columns]

# Best 50 Batsmen in Last 4 Overs

In [33]:
plusfif=delivery['over']>15
lastfour=delivery[plusfif]
lastfour.head()

,id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
93,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,1,MC Henriques,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
94,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,2,MC Henriques,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,0,0,0,MC Henriques,caught,Sachin Baby
95,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,3,Yuvraj Singh,DJ Hooda,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
96,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,4,DJ Hooda,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
97,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,5,Yuvraj Singh,DJ Hooda,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [34]:
lfruns=lastfour.groupby('batsman')['batsman_runs'].sum().reset_index()
lfruns.rename(columns={'batsman_runs':'runs'},inplace=True)
lfballs=lastfour.groupby('batsman')['batsman_runs'].count().reset_index()
lfballs.rename(columns={'batsman_runs':'balls'}, inplace = True)
lfbatsmanperf=lfruns.merge(lfballs, on = 'batsman')
lfbatsmanperf=lfbatsmanperf[lfbatsmanperf['balls']>=200]
lfbatsmanperf['strike_rate']=(lfbatsmanperf['runs']/lfbatsmanperf['balls'])*100
avglfbatsmanperf=lfbatsmanperf['strike_rate'].mean()
stdlfbatsmanperf=lfbatsmanperf['strike_rate'].std()
lfbatsmanperf['Prob_Dist']= (1/(stdlfbatsmanperf * np.sqrt(2 * np.pi)) *
                            np.exp( - (lfbatsmanperf['strike_rate'] - avglfbatsmanperf)**2 /(2 * stdlfbatsmanperf**2)))
lfbatsmanperf['Z Score']=(lfbatsmanperf['strike_rate']-avglfbatsmanperf)/stdlfbatsmanperf
lfbatsmanperf=lfbatsmanperf.sort_values('Z Score', ascending = False).head(50)

In [35]:
lfbatsmanperf

              batsman  runs  balls  strike_rate  Prob_Dist   Z Score
21     AB de Villiers  1203    570   211.052632   0.000571  2.641360
93          DA Warner   432    228   189.473684   0.004956  1.629732
92          DA Miller   672    360   186.666667   0.006089  1.498138
390           V Kohli   993    546   181.868132   0.008316  1.273181
296         RG Sharma  1314    748   175.668449   0.011542  0.982538
101         DJ Hussey   410    234   175.213675   0.011783  0.961218
310        RV Uthappa   477    275   173.454545   0.012712  0.878750
414      Yuvraj Singh   883    516   171.124031   0.013910  0.769494
160         JH Kallis   394    231   170.562771   0.014189  0.743182
237          MS Dhoni  2076   1224   169.607843   0.014655  0.698415
353         SPD Smith   535    316   169.303797   0.014800  0.684161
166         JP Duminy   869    518   167.760618   0.015510  0.611816
99           DJ Bravo   686    409   167.726161   0.015526  0.610201
340          SK Raina   767    458   167.467249   0.015640  0.598063
45          AT Rayudu   703    425   165.411765   0.016491  0.501701
403           WP Saha   482    295   163.389831   0.017217  0.406912
174        KA Pollard  1352    838   161.336516   0.017822  0.310652
410         YK Pathan   930    584   159.246575   0.018284  0.212675
316          S Dhawan   386    243   158.847737   0.018354  0.193978
67           BJ Hodge   606    385   157.402597   0.018554  0.126229
34           AM Nayar   310    200   155.000000   0.018701  0.013594
35          AM Rahane   410    268   152.985075   0.018641 -0.080866
205       LRPL Taylor   312    204   152.941176   0.018638 -0.082924
179        KD Karthik   704    463   152.051836   0.018558 -0.124617
109  DPMD Jayawardene   374    246   152.032520   0.018556 -0.125522
227         MK Pandey   340    224   151.785714   0.018528 -0.137092
152         JA Morkel   637    425   149.882353   0.018230 -0.226323
167       JP Faulkner   439    294   149.319728   0.018115 -0.252699
315       S Badrinath   422    283   149.116608   0.018070 -0.262221
408   Y Venugopal Rao   387    260   148.846154   0.018009 -0.274900
136   Harbhajan Singh   617    418   147.607656   0.017694 -0.332961
26         AD Mathews   425    289   147.058824   0.017537 -0.358691
185         KM Jadhav   488    338   144.378698   0.016633 -0.484336
358         STR Binny   314    218   144.036697   0.016502 -0.500369
41           AR Patel   327    229   142.794760   0.016001 -0.558591
142         IK Pathan   663    465   142.580645   0.015911 -0.568629
228         MK Tiwary   593    423   140.189125   0.014834 -0.680744
357         SS Tiwary   410    300   136.666667   0.013078 -0.845878
255           NV Ojha   410    304   134.868421   0.012134 -0.930181
291         RA Jadeja   753    576   130.729167   0.009941 -1.124230
271         PP Chawla   374    311   120.257235   0.005075 -1.615158
260           P Kumar   294    268   109.701493   0.002019 -2.110015
290     R Vinay Kumar   256    235   108.936170   0.001871 -2.145893
6            A Mishra   227    225   100.888889   0.000775 -2.523153

# Best 50 Bowlers in Last 4 Overs

In [36]:
lfrunsgiven=lastfour.groupby('bowler')['total_runs'].sum().reset_index()
lfrunsgiven.rename(columns={'total_runs':'runs'}, inplace=True)
lfballs=lastfour.groupby('bowler')['total_runs'].count().reset_index()
lfballs.rename(columns={'total_runs':'balls'}, inplace = True)
lfbowlerperf=lfrunsgiven.merge(lfballs, on ='bowler')
lfbowlerperf=lfbowlerperf[lfbowlerperf['balls']>=200]
lfbowlerperf['economyrate']=100-(lfbowlerperf['runs']/(lfbowlerperf['balls']/6))
avglfbowlerperf=lfbowlerperf['economyrate'].mean()
stdlfbowlerperf=lfbowlerperf['economyrate'].std()
lfbowlerperf['Prob_Dist']= (1/(stdlfbowlerperf * np.sqrt(2 * np.pi)) *
                            np.exp( - (lfbowlerperf['economyrate'] - avglfbowlerperf)**2 /(2 * stdlfbowlerperf**2)))
lfbowlerperf['Z Score']=(lfbowlerperf['economyrate']-avglfbowlerperf)/stdlfbowlerperf
lfbowlerperf=lfbowlerperf.sort_values("Z Score", ascending = False).head(50)
lfbowlerperf

              bowler  runs  balls  economyrate  Prob_Dist   Z Score
254        SP Narine   790    664    92.861446   0.048710  2.090835
76      DE Bollinger   297    242    92.636364   0.078827  1.846308
248       SL Malinga  1300   1050    92.571429   0.089569  1.775762
161         MA Starc   265    210    92.428571   0.116579  1.620563
199         R Ashwin   479    379    92.416887   0.118992  1.607869
90          DW Steyn   806    624    92.250000   0.156669  1.426564
157   M Muralitharan   380    284    91.971831   0.230346  1.124363
101  Harbhajan Singh   348    258    91.906977   0.248719  1.053906
293       WD Parnell   289    214    91.897196   0.251505  1.043280
62         CH Morris   529    381    91.669291   0.315804  0.795686
46           B Kumar  1006    715    91.558042   0.345152  0.674825
195        PP Chawla   460    326    91.533742   0.351234  0.648426
48             B Lee   465    328    91.493902   0.360893  0.605144
200         R Bhatia   336    236    91.457627   0.369316  0.565735
85         DP Nannes   313    218    91.385321   0.384909  0.487182
209        RA Jadeja   569    396    91.378788   0.386233  0.480085
168   MJ McClenaghan   484    333    91.279279   0.404437  0.371979
7            A Nehra   794    546    91.274725   0.405177  0.367032
88       DS Kulkarni   483    330    91.218182   0.413635  0.305603
247         SK Warne   327    223    91.201794   0.415826  0.287799
137        KK Cooper   402    274    91.197080   0.416434  0.282679
77          DJ Bravo  1300    885    91.186441   0.417769  0.271120
246       SK Trivedi   465    315    91.142857   0.422692  0.223771
34          AR Patel   334    226    91.132743   0.423707  0.212783
156         M Morkel   603    402    91.000000   0.432391  0.068572
217         RP Singh   837    556    90.967626   0.433167  0.033401
113        JA Morkel   512    338    90.911243   0.433240 -0.027854
257        SR Watson   927    611    90.896890   0.433000 -0.043446
301           Z Khan   946    620    90.845161   0.431262 -0.099644
106      Imran Tahir   342    224    90.839286   0.430979 -0.106027
5           A Mishra   707    461    90.798265   0.428522 -0.150592
164       MG Johnson   419    273    90.791209   0.428015 -0.158258
105        IK Pathan   776    505    90.780198   0.427175 -0.170220
196          PP Ojha   458    297    90.747475   0.424329 -0.205770
214        RJ Harris   434    281    90.733096   0.422916 -0.221391
171        MM Sharma   713    454    90.577093   0.401533 -0.390872
120        JJ Bumrah   688    438    90.575342   0.401234 -0.392774
43     Azhar Mahmood   339    214    90.495327   0.386304 -0.479702
282         UT Yadav  1013    631    90.367670   0.357981 -0.618387
125      JP Faulkner   802    493    90.239351   0.325238 -0.757793
115       JD Unadkat   462    283    90.204947   0.315934 -0.795169
119        JH Kallis   617    371    90.021563   0.264349 -0.994396
132       KA Pollard   518    310    89.974194   0.250829 -1.045858
147         L Balaji   877    523    89.938815   0.240768 -1.084294
208    R Vinay Kumar  1137    673    89.863299   0.219535 -1.166334
186          P Kumar  1058    624    89.826923   0.209483 -1.205852
170         MM Patel   542    314    89.643312   0.161452 -1.405326
263   Sandeep Sharma   509    294    89.612245   0.153886 -1.439077
103         I Sharma   631    358    89.424581   0.112396 -1.642954
287         VR Aaron   360    204    89.411765   0.109844 -1.656878

# Comparision Function

We have been successfully been able to calculate the best batsmen and bowlers in all 20 overs and also in the last 4 overs that have played over 200 balss each by using strike rates and economy rates respectively. Also, we have been able to calculate their Z Score.

Now, we will aim on comparing the Z Scores of the batsmen and bowlers to check which is a better T20 player.

# Idea
* Comapring the Z Score of batsman and bowler in all 20 overs and the one who has a greater value is a better. We will increment a variable accordingly to distinguish.
* We will apply the same rule as above to the players in last 4 overs and ddo the same thing.
* If one of the players isn't present in the last 4 overs table then we wull increment the variable of the player in the table with 2 to give him an extra advantage.

In [37]:
def check(batsman_name, bowler_name): #function to check if the players are present in the list or not
    batsmanyes=False
    bowleryes=False
    if batsman_name in list(runsballs['batsman'].unique()) and bowler_name in list(bowlerperf['bowler'].unique()):
        return True

In [38]:
def senddata(batsman_name, bowler_name): #function to send the respective datafrane of the player to the function
    allbats=runsballs[runsballs['batsman']==batsman_name]
    lfbats=lfbatsmanperf[lfbatsmanperf['batsman']==batsman_name]
    allbowl=bowlerperf[bowlerperf['bowler']==bowler_name]
    lfbowl=lfbowlerperf[lfbowlerperf['bowler']==bowler_name]
    return(allbats, lfbats, allbowl, lfbowl)

In [39]:
def compare(batsman_name, bowler_name):
    if check(batsman_name, bowler_name):
        allbats, lfbats, allbowl, lfbowl = senddata(batsman_name, bowler_name)
        #We will check if the given player is in top 10 or not using len function
        lenbats=len(lfbats)
        lenbowl=len(lfbowl)
        
        #The variables for batsman and bowler
        
        varbat=0
        varbowl=0
        
        #Checking in all overs
        if allbats['Z Score'].values[0] > allbowl['Z Score'].values[0]:
            varbat = varbat + 1
        elif allbats['Z Score'].values[0] < allbowl['Z Score'].values[0]:
            varbowl = varbowl + 1
        elif allbats['Z Score'].values[0] == allbowl['Z Score'].values[0]:
            varbat = varbat + 1
            varbowl = varbowl + 1
            
        #Checkiing for last 4 overs
        if lenbats > 0 and lenbowl > 0:
            if allbats['Z Score'].values[0] > allbowl['Z Score'].values[0]:
                varbat = varbat + 1
            elif allbats['Z Score'].values[0] < allbowl['Z Score'].values[0]:
                varbowl = varbowl + 1
            elif allbats['Z Score'].values[0] == allbowl['Z Score'].values[0]:
                varbat = varbat + 1
                varbowl = varbowl + 1
                
        #When one player isn't in the list of top 10
        if lenbats == 0 and lenbowl > 0:
            varbowl = varbowl + 2
        if lenbats > 0 and lenbowl == 0:
            varbat = varbat + 2
            
        #Actual and Final Comparision
        if varbat > varbowl:
            print(batsman_name, 'is a better player than', bowler_name, 'in T20')
        elif varbat < varbowl:
            print(bowler_name, 'is a better player than', batsman_name, 'in T20')
        elif varbat == varbowl:
            print(batsman_name, 'and', bowler_name, 'are players of same grade.')
    else:
        print('Incorrect player name or one or both players have not played over 200 balls and thys cannot be compared.')

In [40]:
compare('MS Dhoni', 'SL Malinga')

SL Malinga is a better player than MS Dhoni in T20

In [41]:
compare('V Kohli', 'SP Narine')

SP Narine is a better player than V Kohli in T20

# Plotting the best batsmen and bowlers on Bell Curve

## For Batsmen

In [42]:
import plotly.offline as pyo
import plotly.graph_objs as go
trace = go.Scatter(x=lfbatsmanperf['strike_rate'], y = lfbatsmanperf['Prob_Dist'], mode = 'markers',
                  text = lfbatsmanperf['batsman'], marker = {'color':'#00a65a', 'size':16})
data = [trace]
layout = go.Layout(title = 'Strike Rate vs Prob Distribution', xaxis = {'title':'Batsman Strike Rate'},
                              yaxis = {'title':'Probability of similar batsmen'})
fig = go.Figure(data = data, layout = layout)
batsmancomp = pyo.plot(fig, filename='myfile.html')
print(batsmancomp)

myfile.html

## For Bowlers

In [43]:
trace = go.Scatter(x=lfbowlerperf['economyrate'], y = lfbowlerperf['Prob_Dist'], mode = 'markers',
                  text = lfbowlerperf['bowler'], marker = {'color':'#00a65a', 'size':16})
data = [trace]
layout = go.Layout(title = 'Economy Rate vs Prob Distribution', xaxis = {'title':'Bowler Economy Rate'},
                              yaxis = {'title':'Probability of similar bowlers'})
fig = go.Figure(data = data, layout = layout)
bowlercomp = pyo.plot(fig, filename='myfile.html')
bowlercomp

'myfile.html'

# Comparing the palyers and Displaying  their statistics
## The function is supposed to print a repprt card for a player by displaying their overall performance in their career and also showing year wise results

In [58]:
def batsmansearch(batsman_name):
    for i in range(0,len(mergedbats)):
        if(np.array(mergedbats.iloc[i].name)[0]== batsman_name):
            print(mergedbats.iloc[i])

In [55]:
def bowlersearch(bowler_name):
    for i in range(0, len(mergedbowl)):
        if(np.array(mergedbowl.iloc[i].name)[0] == bowler_name):
            print(mergedbowl.iloc[i])

In [59]:
def batsmanstats(batsman_name):
    print("HERE IS A REPORT OF OVERALL PERFORMANCE OF: ", batsman_name)
    print("******************************************")
    srate1 = runsballs[runsballs['batsman']==batsman_name]['strike_rate'].item()
    srate2 = lfbatsmanperf[lfbatsmanperf['batsman']==batsman_name]['strike_rate'].item()
    print("The Overall Strike Rate is: ",srate1)
    print("The Overall Strike Rate in dangerous overs is: ", srate2)
    runs2= lfbatsmanperf[lfbatsmanperf['batsman']==batsman_name]['runs'].item()
    runs1 = runsballs[runsballs['batsman']==batsman_name]['runs'].item()
    print("Total runs scored: ", runs1)
    print("Total runs scored in dangerous overs: ", runs2)
    balls1 = lfbatsmanperf[lfbatsmanperf['batsman']==batsman_name]['balls'].item()
    balls2 = runsballs[runsballs['batsman']==batsman_name]['balls_played'].item()
    print("Total balls played: ", balls2)
    print("Total balls played in dangerous overs: ", balls1)
    print("*******************************************")
    print("Results year wise: ")
    batsmansearch(batsman_name)

In [60]:
batsmanstats('V Kohli')
#lfbatsmanperf[lfbatsmanperf['batsman']=='V Kohli']['strike_rate'].item()

HERE IS A REPORT OF OVERALL PERFORMANCE OF:  V Kohli
******************************************
The Overall Strike Rate is:  126.58843732112193
The Overall Strike Rate in dangerous overs is:  181.86813186813185
Total runs scored:  4423
Total runs scored in dangerous overs:  993
Total balls played:  3494
Total balls played in dangerous overs:  546
*******************************************
Results year wise:
id              14955
over             1281
ball              583
batsman_runs      165
Name: (V Kohli, 2008), dtype: int64
id              32396
over             2816
ball              818
batsman_runs      246
Name: (V Kohli, 2009), dtype: int64
id              44548
over             3080
ball              731
batsman_runs      307
Name: (V Kohli, 2010), dtype: int64
id              130251
over              4304
ball              1697
batsman_runs       557
Name: (V Kohli, 2011), dtype: int64
id              115900
over              3196
ball              1227
batsman_runs       364
Name: (V Kohli, 2012), dtype: int64
id              196574
over              4760
ball              1736
batsman_runs       639
Name: (V Kohli, 2013), dtype: int64
id              147470
over              2929
ball              1032
batsman_runs       359
Name: (V Kohli, 2014), dtype: int64
id              216513
over              2987
ball              1363
batsman_runs       505
Name: (V Kohli, 2015), dtype: int64
id              397992
over              6114
ball              2245
batsman_runs       973
Name: (V Kohli, 2016), dtype: int64
id              7692
over            1959
ball             852
batsman_runs     308
Name: (V Kohli, 2017), dtype: int64

In [61]:
def bowlerstats(bowler_name):
    print("HERE IS A REPORT OF OVERALL PERFORMANCE OF: ", bowler_name)
    print("******************************************")
    erate1 = bowlerperf[bowlerperf['bowler']==bowler_name]['economyrate'].item()
    erate2 = lfbowlerperf[lfbowlerperf['bowler']==bowler_name]['economyrate'].item()
    print("The Overall Economy Rate is: ",erate1)
    print("The Overall Economy Rate in dangerous overs is: ", erate2)
    runs2= lfbowlerperf[lfbowlerperf['bowler']==bowler_name]['runs'].item()
    runs1 = bowlerperf[bowlerperf['bowler']==bowler_name]['runs'].item()
    print("Total runs given: ", runs1)
    print("Total runs given in dangerous overs: ", runs2)
    balls1 = lfbowlerperf[lfbowlerperf['bowler']==bowler_name]['balls'].item()
    balls2 = bowlerperf[bowlerperf['bowler']==bowler_name]['ballsthrown'].item()
    print("Total overs bowled: ", balls2/6)
    print("Total overs bowled in dangerous overs: ", balls1/6)
    print("*******************************************")
    print("Results year wise: ")
    bowlersearch(bowler_name)

In [62]:
bowlerstats('SL Malinga')

HERE IS A REPORT OF OVERALL PERFORMANCE OF:  SL Malinga
******************************************
The Overall Economy Rate is:  93.24276169265033
The Overall Economy Rate in dangerous overs is:  92.57142857142857
Total runs given:  3034
Total runs given in dangerous overs:  1300
Total overs bowled:  449.0
Total overs bowled in dangerous overs:  175.0
*******************************************
Results year wise:
id                  326
over                326
ball                326
player_dismissed     21
Name: (SL Malinga, 2009), dtype: int64
id                  310
over                310
ball                310
player_dismissed     17
Name: (SL Malinga, 2010), dtype: int64
id                  397
over                397
ball                397
player_dismissed     30
Name: (SL Malinga, 2011), dtype: int64
id                  351
over                351
ball                351
player_dismissed     25
Name: (SL Malinga, 2012), dtype: int64
id                  402
over                402
ball                402
player_dismissed     23
Name: (SL Malinga, 2013), dtype: int64
id                  243
over                243
ball                243
player_dismissed     17
Name: (SL Malinga, 2014), dtype: int64
id                  378
over                378
ball                378
player_dismissed     26
Name: (SL Malinga, 2015), dtype: int64
id                  287
over                287
ball                287
player_dismissed     11
Name: (SL Malinga, 2017), dtype: int64